.backdrop {
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 100vw;
  height: 100vh;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 700;
  backdrop-filter: blur(100px);
}

.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.modalTitle {
  font-weight: 400;
  font-size: 24px;
  color: #fbfbfb;
  margin: 0;
}

.closeButton {
  background: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  stroke: #fbfbfb;
  transition: transform 0.3s ease, fill 0.3s ease;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

@media screen and (min-width: 768px) {
  .backdrop {
    background-color: rgba(34, 13, 91, 0.396);
  }

  .modal {
    width: 540px;
    max-height: 650px;
    padding: 40px 71px;
    background-color: rgba(255, 255, 255, 0.196);
  }

  .modalHeader {
    margin-bottom: 40px;
  }

  .modalTitle {
    font-size: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    width: 600px;
  }
}