.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* по горизонталі */
  align-items: center; /* по вертикалі */
  background-color: rgba(0, 0, 0, 0.3); /* трохи затемнення (опційно) */
  z-index: 9999; /* зверху всього */
}
