@media screen and (min-width: 768px) {
  .sideContainer {
    display: flex;
    gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .mainContainer {
    display: flex;
  }

  .sideContainer {
    flex-direction: column;
    gap: 0;
    height: 100vh;
    position: relative;
  }

  .sideContainer::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    width: 1px;
    box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white-600);
  }
}
