@media screen and (min-width: 768px) {
  .mainContainer {
    padding: 0 32px 20px 32px;
  }

  .sideContainer {
    display: flex;
    gap: 32px;
  }

  .navContainer {
    display: flex;
    gap: 32px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .mainContainer {
    display: flex;
    padding: 0;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* height: 100vh; */
    position: relative;
    max-width: 480px;
    padding: 0;
    margin: 0;
  }

  .navContainer::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    width: 1px;
    box-shadow: 1px 4px 1px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--white-600);
  }
}
