.graphWrapper {
  height: 88px;
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .graphWrapper {
    height: 96px;
  }
}

@media (min-width: 1280px) {
  .graphWrapper {
    height: 225px;
  }
}
