.container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: var(--main-background);
    background-image: url('../../images/gradient-mobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.modal {
    width: 280px;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoIcon {
    margin: 0 auto;
    display: block;
    width: 26px;
    height: 26px;
}

.title {
    text-align: center;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 400;
    margin: 0px 0px 52px 0px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputContainer {
    position: relative;

}

.inputContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--white-400);
    transition: all 0.3s ease;
}

.inputIcon {
    position: absolute;
    left: 10.5px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--white-600);
}

.input {
    width: 100%;
    padding: 9px 10px 10px 54px;
    border: none;
    background: rgba(255, 255, 255, 0);
    color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.input::placeholder {
    color: var(--white-600);
}

.input:focus {
    outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    transition: background-color 5000s ease-in-out 0s;
}

@keyframes autofill {
    to {
        -webkit-text-fill-color: #fff;
        -webkit-box-shadow: 0 0 0 1000px transparent inset;
    }
}

.input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.eyeButton {
    fill: var(--white-600);
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0;
}

.inputError {
    border: 1px solid #ff4d4d;
    background-color: var(--main-background);
    background-image: url('../../images/gradient-mobile.webp');

}

.errorText {
    color: #ff4d4d;
    font-size: 11px;
    position: absolute;
    bottom: -16px;
    left: 2px;
}


.btnBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.oneBtn {
    width: 280px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    padding: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.1em;
    transition: all 0.5s ease 0s;
    background-image: var(--button-background);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    color: rgba(251, 251, 251, 1);
}

.multiColorButton {
    color: rgba(251, 251, 251, 1);
    background-image: none;
    background: var(--button-background);
    transition: all 1s ease 0s;
}

.multiColorButton:hover,
.multiColorButton:focus {
    transform: scale(1.05);
    background-image: linear-gradient(to right, #7000ff 0%, #9e40ba 31%, #ffc727 100%);
    background-size: 200%;
    background-position: right center;
}

.multiColorButton:active {
    transform: scale(1.08);
    font-size: 19px;
}

.whiteButton {
    color: var(--text-button);
    background: var(--white);
}

.whiteButton:hover,
.whiteButton:focus {
    transform: scale(1.05);
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(98, 63, 139) 31%, rgb(255, 255, 255) 100%);
    background-size: 200%;
    background-position: right center;
    transition: all 1s ease 0s;
}

.whiteButton:active {
    transform: scale(1.08);
    font-size: 19px;
}

@media only screen and (min-width: 768px) {

    .container {
        background-image: url('../../images/tablet-back-dollars-min.png'), url('../../images/gradient-tablet.webp');
        padding: 0;
    }

    .modal {
        border-radius: 8px;
        width: 533px;
        backdrop-filter: blur(100px);
        box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
        background: var(--form-color);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .logoIcon {
        width: 36px;
        height: 36px;
    }

    .title {
        font-size: 26px;
    }

    .form {
        width: 409px;
    }

    .oneBtn {
        width: 300px;
    }
}


@media only screen and (min-width: 1280px) {

    .container {
        background-image: url('../../images/desktop-back-dollars.png'), url('../../images/gradient-desktop.webp');
    }
}