@import './variables.css';
@import './fonts.css';
@import './reset.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  /* overflow: hidden; */

  color: var(--white);
  background-color: var(--main-background);
  background-image: url('../images/noimg-gradient-desktop.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 767px) {
  body {
    background-image: url('../images/bg-dashboard-mob.webp');
  }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('../images/noimg-gradient-tablet.webp');
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: url('../images/noimg-gradient-desktop.webp');
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-text-fill-color: var(--white-400);
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

main {
  flex-grow: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}