:root {
  --white: #fbfbfb;
  --white-second: #fff;
  --white-600: rgba(255, 255, 255, 0.6);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-200: rgba(255, 255, 255, 0.2);
  --dashboard-text: #ff868d;
  --yellow: #ffb627;
  --text-button: #623f8b;
  --main-background: #101010;
  --form-color: rgba(255, 255, 255, 0.1);
  --icon-violet: #734aef;
  --button-background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
}
