@media screen and (min-width: 768px) {
  .homeTabPageWrap {
    padding-top: 10px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 731px;
    padding: 0 16px;
  }
}
