.editBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--white-600);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.iconEdit {
  fill: transparent;
  stroke: var(--white-600);
}

.deleteBtn {
  cursor: pointer;
  background: var(--button-background);
  color: var(--white-second);
  border: none;
  padding: 6px 12px;
  border-radius: 18px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
}

.deleteBtn:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, #7000ff 0%, #9e40ba 31%, #ffc727 100%);
  background-size: 200%;
  background-position: right center;
}

.tableWrapper {
  width: 100%;
}

.table {
  width: 100%;
  margin: 0 auto;
  cursor: default;
  border-collapse: separate;
  border-spacing: 0;
}

.table .th,
.table .td {
  padding: 12px 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.table .th {
  position: sticky;
  top: 0;
  background-color: rgba(65, 49, 112, 0.95);
}

.thead {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

.thead .th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  overflow: hidden;
}

.thead .th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.tbody .tr td {
  border-bottom: 1px solid var(--white-200);
}

.tbody .tr:last-child td {
  border-bottom: none;
}

.td:last-child {
  padding-right: 10px;
}

.mobileList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileItem {
  background: var(--form-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}

.mobileItemWrap,
.mobileButtons {
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.mobileButtons {
  margin-top: 8px;
}

.mobileItem li,
.mobileItem span {
  font-size: 16px;
  letter-spacing: 0%;
}

.mobileItem li,
.tbody .tr td {
  border-bottom: 1px solid var(--white-200);
}

.sumOrange {
  color: var(--yellow);
}

.sumRed {
  color: var(--dashboard-text);
}

.spanTitleDetails,
th {
  font-size: 16px;
  font-weight: 600;
}

.transactionCount {
  font-size: 16px;
  color: var(--white-600);
  text-align: center;
  margin-top: 10px;
}

.emptyTextWrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.emptyText {
  text-align: center;
  font-size: 18px;
  color: #9e9e9e;
}

.spanRight {
  max-width: 130px;
  margin-left: auto;
}

.borderOrange {
  border-left: 5px solid var(--yellow);
}

.borderRed {
  border-left: 5px solid var(--dashboard-text);
}

.transactionsContainer {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollableElement {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.topBar {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .transactionsContainer {
    max-height: 682px;
  }

  .tableWrapper {
    width: 704px;
  }

  .topBar {
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
  }

  .transactionCount {
    margin-top: 0;
  }
}

.transactionCount {
  font-size: 16px;
  color: var(--white-600);
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 1280px) {
  .emptyTextWrap {
    width: 715px;
  }

  .tableWrapper {
    width: 715px;
  }

  .table {
    margin: 0;
  }

  .transactionsContainer {
    max-height: 560px;
  }
}

.selectWrapper {
  display: flex;
  justify-content: center;
}

.selectContainer {
  position: relative;
  width: 160px;
}

.customSelect {
  width: 100%;
  appearance: none;
  padding: 10px 36px 10px 12px;
  background-color: rgba(82, 59, 126, 0.6);
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.customSelect:hover {
  border-color: #6a0dad;
}

.customSelect:focus {
  outline: none;
  border-color: #6a0dad;
  box-shadow: 0 0 0 2px #6a0dad;
}

.selectArrow {
  position: absolute;
  top: 50%;
  right: 12px;
  pointer-events: none;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

.topBar {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .tableWrapper {
    width: 704px;
  }

  .topBar {
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
  }

  .transactionCount {
    margin-top: 0;
  }
}

@media (min-width: 1280px) {
  .emptyTextWrap {
    width: 715px;
  }

  .tableWrapper {
    width: 715px;
  }

  .table {
    margin: 0;
  }
}