.app {
  min-height: 100vh;
  background-color: #101010;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.bgMobile {
  background-image: url(../images/gradient-mobile.webp);
}

.bgTablet {
  background-image: url(../images/gradient-tablet.webp);
}

.bgDesktop {
  background-image: url(../images/gradient-desktop.webp);
}
