.wrapper {
  /* height: 100%; */
  max-height: 214px;
  width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(74, 86, 226, 0.1);
  @media only screen and (max-width: 767px) {
    margin-top: 24px;
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.mainRow {
  background-color: hsla(266, 57%, 63%, 0.6);
  width: 100%;
}

.item {
  padding: 16px 25px;
  text-align: center;
}

@media (max-width: 1279px) {
  .wrapper {
    height: 380px;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
  }

  .mainItem {
    padding: 12px 20px;
  }

  .item {
    padding: 8px 20px 6px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 480px;
    max-height: 380px;
  }
}
