.wrapper {
  width: 100%;
  background-color: hsla(262, 94%, 39%, 0.571);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(100px);
  line-height: normal;
  height: 214px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.mainRow {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.item {
  padding: 8px 20px 4px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.mainItem {
  padding: 13px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  .wrapper {
    width: 336px;
    margin-top: 0;
  }

  .item {
    padding: 8px 20px 6px;
  }

  .mainItem {
    padding: 13px 0;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    width: 480px;
    height: 380px;
    border-radius: 0;
  }

  .item {
    padding: 24px 50px;
  }

  .mainItem {
    padding: 16px 50px;
  }
}
