.balanceWrapper {
  background: rgba(82, 59, 126, 0.6);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  backdrop-filter: blur(50px);
  width: 280px;
  height: 80px;
  margin: 15px auto;
  padding: 8px 0 12px 32px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.textBalance {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--white-400);
}

.currency {
  font-size: 30px;
  color: var(--white);
}

.totalBalance {
  font-size: 30px;
}

.currencyBalance {
  margin-right: 6px;
  font-weight: 400;
}

.amount {
  font-weight: 700;
}

@media (min-width: 768px) {
  .balanceWrapper {
    margin: 0;
    align-items: flex-start;
    /* margin-left: 32px; */
    padding-left: 40px;
    width: 336px;
    border-radius: 8px;
  }
}

@media only screen and (min-width: 1280px) {
  .balanceWrapper {
    margin: 0;
    padding-left: 56px;
    width: 100%;
    border-radius: 0;
  }
}
