/* @import '../../styles/variables.css';
@import '../../styles/fonts.css';
@import '../../styles/reset.css'; */

.addBtn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-background);
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.addBtn:hover {
  transform: scale(1.05);
  /* box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.4); */
  background-image: linear-gradient(
    to right,
    #7000ff 0%,
    #9e40ba 31%,
    #ffc727 100%
  );
  background-size: 200%;
  background-position: right center;
}

.plusIcon {
  fill: var(--white);
}
