.addTransactionsBtn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--button-background);
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background-color 0.3s;
}

.addTransactionsBtn:hover {
  transform: scale(1.05);
  background-image: linear-gradient(to right, #7000ff 0%, #9e40ba 31%, #ffc727 100%);
  background-size: 200%;
  background-position: right center;
}

.plusIcon {
  fill: var(--white);
}

@media screen and (max-width: 768px) {
  .addTransactionsBtn {
    right: 20px;
    bottom: 20px;
  }
}